.map {
  height: 100%;
  padding: 0;
}

.leaflet-popup-photo .leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.leaflet-popup-photo .leaflet-popup-content {
  margin: 0;
  width: 100% !important;
}

.leaflet-popup-photo .img-ctn {
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position: center;
}

.leaflet-popup-photo .img-frame {
  display: block;
}

.leaflet-popup-photo .caption {
  position: absolute;
  text-align: center;
  font-size: 28px;
  color: purple;
}

.leaflet-popup-photo .img-ctn-h {
  padding: 75px 0 45px 0;
}

.leaflet-popup-photo .img-ctn-h .img-frame {
  margin: -75px 0 -45px 0;
}

.leaflet-popup-photo .img-ctn-h .caption {
  bottom: 50px;
  left: 400px;
}

.leaflet-popup-tip-container {
  display: none;
}

#autoplay {
  background: transparent url('../assets/icons/btn-koala.png') center;
  background-size: cover;
}

#datasource {
  background: transparent url('../assets/icons/btn-tiger.png') center;
  background-size: cover;
  -webkit-transform: scaleX(-1);
}

.img-btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;

  width: 125px;
  height: 150px;
}

.img-btn:focus {
  outline: 0;
}

.leaflet-marker-icon {
  outline: 0;
}

.float-left {
  position: fixed;
  bottom: 21px;
  left: 25px;
  z-index: 999;
}

.float-right {
  position: fixed;
  bottom: 21px;
  right: 25px;
  z-index: 9999;
}

.btn-on {
  -webkit-filter: grayscale(0);
}

.btn-on:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #82847A);
}

.btn-off {
  -webkit-filter: grayscale(100%);
}

.btn-off:hover {
  -webkit-filter: drop-shadow(0px 0px 8px #EDBA3A)
}
