<div class="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     (leafletMoveEnd)="onMoveEnd()"
     [leafletOptions]="options"
     [leafletZoomPanOptions]="config.zoomPanOptions"
     [leafletZoom]="record.zoom"
     [leafletCenter]="record.center"
     [leafletLayers]="markers"
     [leafletViewOffset]="config.viewOffset"></div>
<button type="button"
        id="autoplay"
        class="float-right img-btn"
        [ngClass]="{'btn-on': isAutoPlay, 'btn-off': !isAutoPlay}"
        (click)="toggleAutoPlay(isAutoPlay)">
</button>
<button type="button"
        id="datasource"
        class="float-left img-btn"
        [ngClass]="{'btn-on': !isShowMode, 'btn-off': isShowMode}"
        (click)="toggleShowMode(isShowMode)">
</button>
<app-music-progress [progress]="progress"></app-music-progress>
